In [12]:
import pandas as pd
import re
from datetime import datetime
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
# produce word counts
def wordCount(df, label='All', time=24):
  if time != 24:
    if time in df['hour'].unique():
      df = df[df['hour']==time]
    else:
      return []
  if label != 'All':
    df = df[df[label.lower()]==1]
  word_all = {}
  for index, row in df.iterrows():
    for word in row['token']:
      if word not in word_all.keys():
        word_all[word] = 1
      else:
        word_all[word] += 1

  words = []
  for key in word_all.keys():
    words.append({"text": key, "size": word_all[key]})
  return words, len(df)

In [26]:
df = pd.read_csv("tweets_22sample.csv")
df['date'] = pd.to_datetime(df['created_at'], format='%Y-%m-%d %H:%M:%S')
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df_eng = df[df['lang']=='en']
df_eng['hour'].unique()

array([15, 21, 18, 16, 20, 19, 22, 17, 23])

In [24]:
# Clean the tokens, remove punctuations and stop words
token = [doc.split() for doc in df_eng['text']]
token = [[word.lower() for word in word_list if word.lower() not in stopwords.words('english') and not re.search(r'RT.*|@.*|https://.*', word)] for word_list in token]
token = [[re.sub(r'[^\w\s]','',word) for word in word_list] for word_list in token]
# add tokens to dataframe
df_token = df_eng
df_token['token'] = token
df_token = df_token.drop(columns = ['text'])

# identify tweets mentioning the two candidates
df_label = df_token
df_label['trump'] = -1
df_label['biden'] = -1
for index, row in df_label.iterrows():
    df_label.loc[index, ['trump']] = 1 if any(word in ['trump', 'donald', 'donaldtrump'] for word in row['token']) else 0
    df_label.loc[index, ['biden']] = 1 if any(word in ['biden', 'joe', 'joebiden'] for word in row['token']) else 0
df_label.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                  created_at  geo  ... trump biden
0  2020-10-22 15:40:49+00:00  NaN  ...     1     0
2  2020-10-22 21:41:43+00:00  NaN  ...     0     0
3  2020-10-22 21:41:03+00:00  NaN  ...     1     0
4  2020-10-22 18:55:16+00:00  NaN  ...     0     0
5  2020-10-22 15:46:18+00:00  NaN  ...     0     0

[5 rows x 39 columns]

In [27]:
wordcloud = pd.DataFrame(columns = ["Date", "Time", "Candidate", "Words", "Tweets"])
df = df_label
for i in range(15, 25):
  candidates = ["All", "Biden", "Trump"]
  for candidate in candidates:
    word, tweets = wordCount(df, candidate, i)
    newRow = {'Date': 22, 'Time': i,'Candidate': candidate, "Words": word, "Tweets": tweets}
    wordcloud = wordcloud.append(newRow, ignore_index=True)
wordcloud

   Date Time  ...                                              Words Tweets
0    22   15  ...  [{'text': 'option', 'size': 1}, {'text': 'rude...    240
1    22   15  ...  [{'text': 'scandal', 'size': 3}, {'text': 'rep...     34
2    22   15  ...  [{'text': 'option', 'size': 1}, {'text': 'rude...     55
3    22   16  ...  [{'text': 'see', 'size': 12}, {'text': '2', 's...    673
4    22   16  ...  [{'text': 'stahl', 'size': 4}, {'text': 'notes...    106
5    22   16  ...  [{'text': 'see', 'size': 6}, {'text': '2', 'si...    229
6    22   17  ...  [{'text': 'republicans', 'size': 13}, {'text':...    732
7    22   17  ...  [{'text': 'david', 'size': 1}, {'text': 'marcu...    125
8    22   17  ...  [{'text': 'saw', 'size': 3}, {'text': 'greater...    222
9    22   18  ...  [{'text': 'sent', 'size': 4}, {'text': 'ballot...    634
10   22   18  ...  [{'text': 'instead', 'size': 2}, {'text': 'tra...    120
11   22   18  ...  [{'text': 'raw', 'size': 2}, {'text': '60', 's...    179
12   22   19  ...  [{'text': 'watch', 'size': 17}, {'text': 'new'...    692
13   22   19  ...  [{'text': 'watch', 'size': 1}, {'text': 'new',...    117
14   22   19  ...  [{'text': 'presidential', 'size': 2}, {'text':...    213
15   22   20  ...  [{'text': 'big', 'size': 8}, {'text': 'deal', ...    669
16   22   20  ...  [{'text': 'trump', 'size': 33}, {'text': 'plan...    141
17   22   20  ...  [{'text': 'big', 'size': 4}, {'text': 'deal', ...    199
18   22   21  ...  [{'text': 'legendary', 'size': 1}, {'text': 'a...    679
19   22   21  ...  [{'text': 'else', 'size': 2}, {'text': 'thinks...    123
20   22   21  ...  [{'text': 'trump', 'size': 197}, {'text': 'low...    176
21   22   22  ...  [{'text': 'breaking', 'size': 19}, {'text': 's...    780
22   22   22  ...  [{'text': 'reason', 'size': 1}, {'text': 'hunt...    153
23   22   22  ...  [{'text': 'im', 'size': 11}, {'text': 'voting'...    224
24   22   23  ...  [{'text': 'overheard', 'size': 1}, {'text': 'd...    641
25   22   23  ...  [{'text': 'joe', 'size': 69}, {'text': 'biden'...    142
26   22   23  ...  [{'text': 'trump', 'size': 167}, {'text': 'alw...    165
27   22   24  ...  [{'text': 'option', 'size': 1}, {'text': 'rude...   5740
28   22   24  ...  [{'text': 'watch', 'size': 8}, {'text': 'new',...   1061
29   22   24  ...  [{'text': 'option', 'size': 1}, {'text': 'rude...   1662

[30 rows x 5 columns]

In [31]:
df = pd.read_csv("tweets_23sample.csv")
df['date'] = pd.to_datetime(df['created_at'], format='%Y-%m-%d %H:%M:%S')
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df_eng = df[df['lang']=='en']

# Clean the tokens, remove punctuations and stop words
token = [doc.split() for doc in df_eng['text']]
token = [[word.lower() for word in word_list if word.lower() not in stopwords.words('english') and not re.search(r'RT.*|@.*|https://.*', word)] for word_list in token]
token = [[re.sub(r'[^\w\s]','',word) for word in word_list] for word_list in token]
df_token = df_eng
df_token['token'] = token
df_token = df_token.drop(columns = ['text'])
# identify tweets mentioning the two 
df_label = df_token
df_label['trump'] = -1
df_label['biden'] = -1
for index, row in df_label.iterrows():
  # if any(word in ['trump', 'donald', 'donaldtrump'] for word in row['token']):
    df_label.loc[index, ['trump']] = 1 if any(word in ['trump', 'donald', 'donaldtrump'] for word in row['token']) else 0
    df_label.loc[index, ['biden']] = 1 if any(word in ['biden', 'joe', 'joebiden'] for word in row['token']) else 0
df = df_label
for i in range(0,25):
  candidates = ["All", "Biden", "Trump"]
  for candidate in candidates:
    word, tweets = wordCount(df, candidate, i)
    newRow = {'Date': 23, 'Time': i,'Candidate': candidate, "Words": word, "Tweets": tweets}
    wordcloud = wordcloud.append(newRow, ignore_index=True)
wordcloud

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

    Date Time  ...                                              Words Tweets
0     22   15  ...  [{'text': 'option', 'size': 1}, {'text': 'rude...    240
1     22   15  ...  [{'text': 'scandal', 'size': 3}, {'text': 'rep...     34
2     22   15  ...  [{'text': 'option', 'size': 1}, {'text': 'rude...     55
3     22   16  ...  [{'text': 'see', 'size': 12}, {'text': '2', 's...    673
4     22   16  ...  [{'text': 'stahl', 'size': 4}, {'text': 'notes...    106
..   ...  ...  ...                                                ...    ...
100   23   23  ...  [{'text': 'word', 'size': 1}, {'text': 'whethe...     48
101   23   23  ...  [{'text': 'actually', 'size': 2}, {'text': 'di...     74
102   23   24  ...  [{'text': 'unbelievable', 'size': 12}, {'text'...   5780
103   23   24  ...  [{'text': 'president', 'size': 131}, {'text': ...   1341
104   23   24  ...  [{'text': 'president', 'size': 188}, {'text': ...   1864

[105 rows x 5 columns]

In [33]:
wordcloud.to_csv("tweets_statistics.csv")